* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

noscript {
    color: #aaa;
    font-size: 1.2rem;
}